<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="text-center">
        <h2>Sing in with </h2>

        @{ Html.RenderAction("Index", "Clients"); }

        @RenderBody()
    </div>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Custom/bootstrap-social.css" rel="stylesheet">
    <link href="~/Content/Custom/Custom.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
