<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <button id="Flickr" onclick="login('Flickr')">Flickr</button>
        <button id="Vk" onclick="login('Vk')">Vk</button>
        <button id="Google" onclick="login('Google')">Google</button>
        <button id="Pinterest" onclick="login('Pinterest')">Pinterest</button>
        <button id="Twitter" onclick="login('Twitter')">Twitter</button>
        <button id="Tumblr" onclick="login('Tumblr')">Tumblr</button>

        @RenderBody()
    </div>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link href="~/Content/Custom/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/Custom/providers.js"></script>
</body>
</html>
