<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="text-center">
        <h2>Sing in with </h2>
        <a class="btn btn-social-icon btn-twitter" onclick="login('Twitter')"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-social-icon btn-google-plus" onclick="login('GooglePlus')"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-social-icon btn-flickr" onclick="login('Flickr')"><i class="fa fa-flickr"></i></a>
        <a class="btn btn-social-icon btn-pinterest" onclick="login('Pinterest')"><i class="fa fa-pinterest"></i></a>
        <a class="btn btn-social-icon btn-tumblr" onclick="login('Tumblr')"><i class="fa fa-tumblr"></i></a>
        <a class="btn btn-social-icon btn-vk" onclick="login('Vk')"><i class="fa fa-vk"></i></a>
        <a class="btn btn-social-icon btn-facebook" onclick="login('Facebook')"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-instagram" onclick="login('Instagram')"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-social-icon btn-linkedin" onclick="login('LinkedIn')"><i class="fa fa-linkedin"></i></a>
        @RenderBody()
    </div>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Custom/bootstrap-social.css" rel="stylesheet">
    <link href="~/Content/Custom/Custom.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/providers.js"></script>
</body>
</html>
