@model dynamic

@{
    ViewBag.Title = "OAuth Examples";
    Layout = "~/Views/_Layout.cshtml";
}

<button id="Flickr" onclick=" login('Flickr')">Flickr</button>
<button id="Vk" onclick=" login('Vk')">Vk</button>
<button id="Google" onclick=" login('Google')">Google</button>
<button id="Pinterest" onclick=" login('Pinterest')">Pinterest</button>
<button id="Twitter" onclick=" login('Twitter')">Twitter</button>
<button id="Tumblr" onclick=" login('Tumblr')">Tumblr</button>

<script>
    function login(provider) {
        var url = '@Url.Action("Index", "Login", new { provider = "providerVariable" })';
        url = url.replace("providerVariable", provider); //TODO: hack
        location.replace(url);
        @*$.getJSON(
            '@Url.Action("Index", "Login")',
            { provider: provider },
            function (result) {
                $("#response").html(JSON.stringify(result));
            });*@
    }
</script>
